/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}


form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    color: #4CAF50;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}


input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #4CAF50; 
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease; 
}


input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #f44336; 
}


.button-container {
    text-align: center;
    margin-top: 20px;
}

input[type="submit"],
input[type="reset"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 8px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 12px;
}