* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: auto;
}
#wrapper{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    
}
.sidebar{
    width: 20%;
    height: 100vh;
    padding: 20px;
    border: 1px solid #e6ecf0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    align-items: flex-start;
    background-color: #497FAF;

}
.sidebar-item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
   
}
.sidebar-item img{
    margin-right: 10px;
    filter: none;

}
.sidebar-item a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.sidebar-item button{
    background-color: #1DA1F2;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    height: 49px;
	width: 230px;
    transition: all 0.3s;
    

}
.sidebar-item button:hover{
    transition: 0.3s;
	background-color: #2290d4;
}
.Middle-bar{
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 50px;
    margin-top: 50px;
    
}
.notification-bar {
    margin-top: 20px;
}

.notification-bar h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.notification-item {
    background-color: #f5f8fa;
    border: 1px solid #e6ecf0;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.notification-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.notification-item p {
    margin: 0;
    line-height: 1.5;
    color: #333;
}

.notification-item p:first-child {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
}

.notification-item p:last-child {
    font-size: 12px;
    color: #657786;
}